header {
    animation-name: colors;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

header form > * {
    display: inline-block;
    margin-left: -4px;
}

header .mat-input-container {
    width: 75%;
}

header .mat-form-field-infix {
    width: 100%;
}

header .mat-raised-button {
    margin-left: calc(5% - 4px) !important;
    width: 20%;
}

@keyframes colors {
    0% { background-color: red; }
    10% { background-color: green; }
    20% { background-color: violet; }
    30% { background-color: yellow; }
    40% { background-color: orange; }
    50% { background-color: purple; }
    60% { background-color: aquamarine; }
    70% { background-color: cornflowerblue; }
    80% { background-color: orangered; }
    90% { background-color: mediumpurple; }
    100% { background-color: aqua; }
}