<header>
    <form>
        <mat-form-field>
            <input
                    #searchInput
                    matInput
                    placeholder="Got an idea?  There's a gif for that!">
        </mat-form-field>
        <button
                (click)='search(searchInput.value)'
                mat-raised-button
                type="button"
                color="primary">Go Giphy, Go!</button>
    </form>
</header>

<main>

    <section id="results">
        <article *ngFor="let gif of gifs">Yo</article>
    </section>

</main>