<header>
    <form>
        <mat-form-field>
            <input
                    #searchInput
                    matInput
                    placeholder="Got an idea?  There's a gif for that!">
        </mat-form-field>
        <button
                (click)='search(searchInput.value)'
                mat-raised-button
                type="button"
                color="primary">Go Giphy, Go!</button>
    </form>
</header>

<main>

    <section id="results">
        <article class="in">
            <video
                    autoplay
                    loop
                    src="https://media1.giphy.com/media/gw3IWyGkC0rsazTi/giphy-preview.mp4"
                    poster="https://media1.giphy.com/media/gw3IWyGkC0rsazTi/200_s.gif">
                Apparently you can't watch HTML5 vids.  You suck!
            </video>
        </article>
    </section>

</main>